<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://unpkg.com/konva@8/konva.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div id="convaHolder" style="margin: 0 25% 0 25%"></div>

    <script>

        var stage = new Konva.Stage({
            container: 'convaHolder',  
            width: 1000,
            height: 1000
        });


        var layer = new Konva.Layer();

        $(function request(){
            $.ajax(
                {
                    type:"GET",
                    url: "@Url.Action("GetAllPoints")",
                    dataType: "json",
                    success: function (result) {
                        console.log(result.value);
                        $.each(result.value, function (index, value) {
                            console.log("INDEX: " + index + " VALUE: " + value.radius);
                            var circle = new Konva.Circle({
                                id: value.id,
                                x: value.positionX,
                                y: value.positionY,
                                radius: value.radius,
                                fill: value.color,
                            });
                            layer.add(circle);
                            circle.on('dblclick', function () {
                                console.log('dblclick');
                                $.ajax({
                                    url: '@Url.Action($"RemovePoint")?id='+circle.getId(),
                                    type: 'DELETE',
                                    success: function (result) {
                                        console.log(result);
                                        location.reload();
                                    }
                                });
                            });
                            var comments = value.comments;
                            var count = 0;
                            $.each(comments, function (indexForComment, valueUnderTheCommentIndex) {
                                var label = new Konva.Label({
                                    x: value.positionX,
                                    y: value.positionY + circle.getRadius() + 10 + count * 40

                                });
                                label.add(new Konva.Tag({
                                    fill: valueUnderTheCommentIndex.color,
                                    stroke: 'black',
                                    shadowColor: 'black',
                                    shadowBlur: 10,
                                    shadowOffset: [10, 10],
                                    shadowOpacity: 0.2,
                                    lineJoin: 'round',
                                    cornerRadius: 5
                                }));
                                label.add(new Konva.Text({
                                    text: valueUnderTheCommentIndex.text,
                                    fontSize: 11,
                                    lineHeight: 1.2,
                                    padding: 10,
                                    fill: 'green'
                                }));
                                label.setOffsetX(label.getWidth()/2);
                                count = count + 1;
                                layer.add(label);
                            })
                        }
                        );
                    }
                }
            );
        });
        stage.add(layer);
    </script>
</body>

</html>
